<div class="container">
  <div class="card col s6">
  <table class="responsive-table striped">
    <thead>
      <tr>
          <th>Id comment</th>
          <th>Commenter user</th>
          <th>Commented user</th>
          <th>Comment</th>
          <th>Date</th>
          <th>Actions</th>
      </tr>
    </thead>

    <tbody>
    <% @comments.each do |c| %>    
      <tr>
        <td><%= c.id%></td>
        <td><%= c.email %></td>
        <td><%= c.commentable.email%></td>
        <td><%= c.description%></td>
        <td><%= c.created_at%></td>
        <td>
          <%= link_to "Approve", admin_comment_path(c.id), method: :put, class: "waves-button-input" %>||
          <% if policy(c).destroy? %>
          <%= link_to "Reject", admin_comment_path(c.id), method: :delete ,class: "waves-button-input", data: { confirm: "Are you sure you want to reject this review?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>