Welcome to snackstore.com, <%= @user.full_name %>
===============================================
<% if @product.stock > 0 %>
The product that you liked is soon to run out of stock
 We only have <%= @product.stock %> on stock
<% else %>
The product that you liked is out of stock
<% end %>
 Product name: <%= @product.name %>
 Description: <%= @product.description %>
 Price: $<%= @product.price %>

Hurry up and have a great day!