<% @comments.each do |co| %>  
<ul class="collection">
  <li class="collection-item avatar">
    <img src="http://lorempixel.com/64/64/people/<%= rand(1..10)%>/" alt="" class="circle">
    <span class="title">User name: <%= co.user.full_name%></span>      
    <p><%= co.description%></p>
    <span class="secondary-content"><i class="material-icons">grade</i><p><%= co.rati if co.rati > 0%></p></span>
  </li>
</ul>
<% end %>