<div class="col 12">
<%= form_for [@commentable, @comment] do |f|%>
<div class="card-content">
<!--RATING STARS SECCION-->
<% unless @product.nil?%>
<div class="row">
<section class='rating-widget' style="text-align: center;">
  <div class='rating-stars'>
    <%= f.hidden_field :rating, value: 0 %>
      <ul id='stars'>
          <li class="star" title="Poor" data-value="1"><i class="material-icons">grade</i></li>
          <li class="star" title='Fair' data-value='2'><i class="material-icons">grade</i></li>
          <li class='star' title='Good' data-value='3'><i class="material-icons">grade</i></li>
          <li class='star' title='Excellent' data-value='4'><i class="material-icons">grade</i></li>
          <li class='star' title='WOW!!!' data-value='5'><i class="material-icons">grade</i></li>
      </ul>
  </div>
</section>
</div>
<% end %>
<!------------------------------------->
<div class="row">
  <div class="input-field col s12">
    <%= f.text_area :description, id: "txt1", class: "materialize-textarea", rows: 8 %>
    <label for="txt1">Comment</label>
  </div>
  <%= f.submit 'Comment', class: "btn waves-effect waves-light" %>
</div>
<% end %>
</div>
</div>

<!--CSS STYLE-->
<style>
    #stars {
        display: flex;
    }
    .rating-stars ul>li.star>i.material-icons {
        color: grey
    }
    .rating-stars ul>li.star.hover>i.material-icons {
        color: yellow
    }
    .rating-stars ul>li.star.selected>i.material-icons {
        color: #FF912C
    }
</style>

<script>
  $(document).ready(function () {
    $('#stars li').on("click", function () {
      var onStar = parseInt($(this).data('value'), 10); //Click value
      $("#comment_rating").val(onStar);
      var stars = $(this).parent().children('li.star');
      for (i = 0; i < stars.length; i++) {
          $(stars[i]).removeClass('selected'); //Remove selected Class
      }
      for (i = 0; i < onStar; i++) {
          $(stars[i]).addClass('selected'); //Add selected Class
      }
    });
    //HOVER STARS
    $('#stars li').on("mouseover", function () {
        var onStar = parseInt($(this).data('value'), 10);
        $(this).parent().children('li.star').each(function (e) {

            if (e < onStar) {
                $(this).addClass('hover');
            }
            else {
                $(this).removeClass('hover');
            }
        });
    }).on('mouseout', function () {
        $(this).parent().children('li.star').each(function (e) {
            $(this).removeClass('hover');
        });
    });;
  });
</script>