<div class="container">
  <div class="card col s6">
  <table>
    <thead>
      <tr>
          <th>Admin user</th>
          <th>Name before</th>
          <th>Name after</th>
          <th>Description before</th>
          <th>Description after</th>
          <th>Price before</th>
          <th>Price after</th>
          <th>Date</th>
      </tr>
    </thead>

    <tbody>
    <% @product_logs.each do |pl| %>    

      <tr>
        <td><%= pl.user_email%></td>
        <td><%= pl.name_before%></td>
        <td><%= pl.name_after%></td>
        <td><%= pl.description_before%></td>
        <td><%= pl.description_after%></td>
        <td><%= pl.price_before%></td>
        <td><%= pl.price_after%></td>
        <td><%= pl.date_created_at%></td>
      </tr>
      <tr>

    <% end %>

    </tbody>
  </table>
  </div>
</div>