<div class="container">
  <div class="card col s6">
  <table class="responsive-table striped">
    <thead>
      <tr>
          <th>ID</th>
          <th>Full name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Role</th>
          <th>Details</th>
      </tr>
    </thead>

    <tbody>
    <% @users.each do |s| %>    
      <tr>
        <td><%= s.id%></td>
        <td><%= s.full_name%></td>
        <td><%= s.email%></td>
        <td><%= s.phone%></td>
        <td><%= s.role%></td>
        <td><%= link_to "Details", user_path(s.id) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>