<div class="container">
  <div class="row">
  <div class="col s12">
    <h2 class="header"><%= @form.full_name%></h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://lorempixel.com/512/512/people/<%= rand(1..10)%>/">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <ul class="collection">
            <li class="collection-item">Email: <%= @form.email%></li>
            <li class="collection-item">Adress: <%= @form.address%></li>
            <li class="collection-item">Phone: <%= @form.phone%></li>
            <li class="collection-item">Role: <%= @form.role%></li>
          </ul>
        </div>
        <div class="card-action">
        <% if policy(@form).destroy? %>
          <%= link_to 'Delete User', admin_user_path, method: :delete, class: "btn waves-effect waves-light", data: { confirm: "Are you sure you want to delete this user?" } %> 
        <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">

  <div id="commentable">

    <div class="container">
      <h4>Comments</h4>
      <%= render "comments/comments" %>
      <%= render "comments/comment" if user_signed_in?%>
    </div>
  </div>

  </div>

</div>