<% if flash.any? %>
  <% flash.each do |alert, mssg| %>
    <div class="alert <%= alert %> card green lighten-4 green-text text-darken-4">
    <div class="card-content" id="my_alert">
      <p><i class="material-icons">check_circle</i>
      <span><%= alert.to_s.upcase %><br></span> <%= raw mssg.to_s %>
      <i class="material-icons right" onclick="document.getElementById('my_alert').style.display = 'none'">close</i></p>        
      </div>
    </div>
  <% end %>
<% end %>
<!--CUSTOM ALERTS COLOR CSS-->
