
<footer class="page-footer">  
  <div class="footer-copyright">
    <div class="container" style="text-align: center;">
    <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>
    <% else %>
    <strong>Ghost user<strong>
    <% end%>
    </div>
  </div>
</footer>