 
  <div class="nav-wrapper">
    <a href="<%= root_path%>" class="brand-logo">Snacks Store</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">      
      <li><a><%= link_to "Home", products_path %></a></li>
      <li><a><%= link_to "Cart", order_path(current_order.id ||= 0) %></a></li>
      <% if user_signed_in? %>
      <li><a><%= link_to "Purchased", orders_path %></a></li>
      <% if current_user.admin? %>
      <li>
        <a href="javascript:void(0)" class="dropdown-trigger" data-target="dropdown1">Product</a>
        <ul id='dropdown1' class='dropdown-content'>
          <li><%= link_to "Create", new_admin_product_path %></li>
          <li><%= link_to "Product Logs", admin_product_logs_path %></li>
          <li><%= link_to "Deleted", admin_products_list_path %></li>
        </ul>
      </li>
      <% end %>
      <li>
        <a href="javascript:void(0)" class="dropdown-trigger" data-target="dropdown2">Users</a>
        <ul id='dropdown2' class='dropdown-content'>
        <li><%= link_to "List", users_path %></li>
        <% unless current_user.customer? %>
          <li><%= link_to "Create", new_admin_user_path %></li>
          <li><%= link_to "Pending comments", admin_comments_path %></li>
        <% end %>
        </ul>
      </li>
      <li>|Session as <strong><%= current_user.role %></strong>|</li>
      <li><%= link_to 'Settings', edit_user_registration_path, :class => 'navbar-link' %></li>
      <li><a><%= link_to "Logout", destroy_user_session_path, method: :delete %></a></li>
      <% else %>
      <li>
      <li><a><%= link_to "Sign up", new_user_registration_path %></a></li>
      <li><a><%= link_to "Login", new_user_session_path %></a></li>
      </li>
      <% end %>
      
    </ul>
  </div>
</nav>

<script>
    var elems = document.querySelectorAll('.dropdown-trigger');
    var options = {
      hover: true,
      coverTrigger: false
    }
    var instances = M.Dropdown.init(elems,options);
</script>


