<div class="container">
  <div class="row">
  <%= form_for :filter, url: order_update_total_path(@order) , method: :put ,remote: true do |f| %>
    <div class="card col s12">    
    <table>
      <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
      </thead>

      <tbody>
      <% @order_lines.each_with_index do |ol, i| %>
        <tr>
          <td><%=ol.product.name%></td>
          <td>$<%=ol.price%></td>
          <td><%= f.number_field "q_#{i}", min: 1, max: ol.product.stock, step: 1, style: 'width: 50px', :value => ol.quantity %></td>
          <td><%=ol.total%></td>
          <td>
          <% unless ol.order.complete? %>
          <%= link_to "Drop", ol, method: :delete, data: { confirm: "Are you sure you want to delete this item?"} %>
          <% end %>
          </td>
        </tr>
        <tr>
      <% end %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    </div>
    <div class = "row">
      <%= f.hidden_field :order_id, value: @order.id %>
      <%= f.submit "Re-Calculate totals", class: "waves-effect waves-light btn #{@order.complete? ? 'disabled' : ''}" %>
    </div>
    <% end %>
  </div>
