<div class="container">

<% @orders.each do |order| %>
  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header"><h4>ORDER ID: <%= order.id%></h4></li>
      <li class="collection-item">Status:<%= order.status%></li>
      <li class="collection-item">Number of lines: <%= order.order_lines.count %></li>
      <li class="collection-item">Total: <%= order.total%></li>
      <li class="collection-item">Finished at: <%= order.finished_at%></li>
      <li class="collection-item"><%= link_to "Details", order_path(order.id), class: "waves-effect waves-light btn disabled" %></li>
    </ul>
  </div> 
<% end %>
 
</div>