<% if @order.present? && !!current_order.id%>
<%= render partial: 'detail' %>
<div class="row">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Purchase Summary</h4></li>
      <li class="collection-item">Status:  <%= @order.status%></li>
      <li class="collection-item">Number of lines: <%= @order.order_lines.count%></li>
      <li class="collection-item">Total: <%= @order.total%></li>
      <li class="collection-item">
      <% unless @order.complete? %>
        <% if user_signed_in? %>
          <%#=# link_to_if !@order.complete?, "Buy",  order_orders_finished_path(@order) , class: "btn waves-effect waves-light", data: { confirm: "Are you sure you want to place your order?" } %>
          <%= form_for @order do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-email="<%= current_user.email%>"
            data-description="A month's subscription"
            data-amount="<%= @order.total*100 %>"
            data-locale="auto">
          </script>
          <% end %>
        <% else %>
          <%= link_to "Buy", new_user_session_path, class: "btn waves-effect waves-light" %>
        <% end %> 
      <% end %>   
      </li>
    </ul>
  </div>

<div class="row">
  <div class="container">
    <h4><%= 'Comments' if user_signed_in?%></h4>
    <%= render "comments/comments" %>
    <%= render "comments/comment" if user_signed_in?%>
  </div>
</div>

<%end%>


<% if @order.complete? || current_order&.id.nil? %>
<div class="row">
<ul class="container with-header text-align: center">
<h4>You don't have active orders</h4>
</ul>
</div>
<%end%>

</div>
