<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
<div class="col s12">
  <ul class="pagination" role="navigation" aria-label="pager" style="text-align: center;">
    <li class="waves-effect"><%= first_page_tag unless current_page.first? %></li>
     <li class="waves-effect"><%= prev_page_tag unless current_page.first? %></li>
    <% each_page do |page| -%>
    <li class="waves-effect">
      <% if page.display_tag? -%>
         <%= page_tag page %>
      <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <% end -%>
      </li>
    <% end -%>
    <% unless current_page.out_of_range? %>
       <li class="waves-effect"><%= next_page_tag unless current_page.last? %></li>
       <li class="waves-effect"><%= last_page_tag unless current_page.last? %></li>
    <% end %>
  </ul>
</div>
<% end -%>
