<%= form_for [:admin, @product], local: true, class: "col 12" do |f|%>
  <div class="row">
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :sku, disabled: true, class: :validate  %>
      <%= f.label :sku, 'SKU', class: @product.sku?.present? ? :active : ''  %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :name, class: :validate  %>
      <%= f.label :name, 'Name', class: @product.name.present? ? :active : '' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :description, class: :validate  %>
      <%= f.label :description, 'Description', class: @product.description.present? ? :active : '' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col 6">
      <%= f.text_field :price, class: :validate, type: :number, min: 0.0, step: 0.01  %>
      <%= f.label :price, 'Price', class: :active %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col 6">
      <%= f.text_field :stock, class: :validate, type: :number, min: 0  %>
      <%= f.label :stock, 'Stock', class: :active %>
    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <label>STATUS:</label>
    </div>
    <div class="col s10">
      <div class="switch">
        <label>
          Inactive
          <%= f.check_box :status, {checked: @product.active? }, "active", "inactive" %>
          <span class="lever"></span>
          Active
        </label>
      </div>
    </div>
  </div>
  <div class="row"><h5>TAGS</h5> </div>
  <div class="row">

    <% Tag.all.each do |tag| %>    
    <label >
      <%= f.check_box :tag_ids, {multiple: true}, tag.id, nil%>
      <span style="margin-right: 50px;"><%= tag.name %></span>
    <label>    
    <% end %>

  </div>
  <div class="row"><!--Open div-->
  <div class="field col s6" style="text-align: right;">
      <%= f.submit class: "btn waves-effect waves-light" %>
  </div>
<%end%>


