<div class="container">
  <h1>Edit Product</h1>
  <div class="row">
    <%= render "form", tags: @tags %>
    <div class=" col s6", style="text-align: left;">
    <% if policy(@product).destroy? %>
    <%= link_to 'Delete Product', admin_product_path, method: :delete, class: "btn waves-effect waves-light", data: { confirm: "Are you sure you want to delete this product?" } %> 
    <% end %>
    </div>
    </div> <!--Close div inside of render form-->
  </div>
</div> 