<div class="container">
<h1>Products Discarded</h1>
  <div class="card col s6">
  <table>
    <thead>
      <tr>
          <th>SKU</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Status</th>
          <th>Likes</th>
          <th>Dislikes</th>
          <th>Discarded at</th>
      </tr>
    </thead>

    <tbody>
    <% @products.each do |p| %>    

      <tr>
        <td><%= p.sku%></td>
        <td><%= p.name%></td>
        <td><%= p.description%></td>
        <td>$ <%= p.price%></td>
        <td><%= p.stock%></td>
        <td><%= p.status%></td>
        <td><%= p.cached_votes_up%></td>
        <td><%= p.cached_votes_down%></td>
        <td><%= p.discarded_at%></td>
      </tr>
      <tr>

    <% end %>

    </tbody>
  </table>
  </div>
</div>