<%= form_for [:admin, @form], url: admin_users_path, local: true, class: "col 12" do |f|%>
  <div class="row">
    <div class="input-field col s12">
      <%= f.email_field :email, class: :validate  %>
      <%= f.label :email, 'Email', class: @form.email.present? ? :active : '' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.password_field :password, class: :validate  %>
      <%= f.label :password, 'Password', class: @form.password.present? ? :active : '' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
    <%= f.text_field :first_name, class: :validate  %>
    <%= f.label :first_name, 'First Name', class: @form.first_name.present? ? :active : '' %>
    </div>
    <div class="input-field col s6">
    <%= f.text_field :last_name, class: :validate  %>
    <%= f.label :last_name, 'Last Name', class: @form.last_name.present? ? :active : '' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.text_field :address, class: :validate  %>
    <%= f.label :address, 'Address', class: @form.address.present? ? :active : '' %>
    </div>
    <div class="input-field col s4">
    <%= f.telephone_field :phone, class: :validate  %>
    <%= f.label :phone, 'Phone', class: @form.phone.present? ? :active : '' %>
    </div>
  </div>
  <% if current_user.admin?%>
  <div class="row">
    <h5>ROLE: </h5>
    <label><%= f.radio_button :role, 'support' %><span>Support</span></label>
    <label><%= f.radio_button :role, 'customer'  %><span>Customer</span></label>
  </div>
  <% end %>
  <div class="row">
  <div class="field col s6" style="text-align: right;">
      <%= f.submit class: "btn waves-effect waves-light" %>
  </div>
<%end%>