<div class="container">
  <h1>Edit User</h1>
  <div class="row">
    <%= render "form"%>
    <div class=" col s6", style="text-align: left;">
      <% if current_user.admin? %>
      <%= link_to 'Delete User', url: '', method: :delete, class: "btn waves-effect waves-light", data: { confirm: "Are you sure you want to delete this user?" } %> 
      <% end %>
    </div>
    </div>
  </div>
</div>