<div class="container">
<div class="row">
<% @products.each do |product| %>   
  <div class="card col l4 m6 s12" style="min-height: 100px">
    <div class="card col-content">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator">
        <!-- src="http://lorempixel.com/256/256/food/<%= rand(1..10)%>/" -->
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%=truncate(product.name, length: 30)%><i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-action">
      <div class="row">
        <div id="like">
        <p class="col s2"><label class="label-icon" for="thumb_up" id="likes_p<%= product.id %>">
        <%= link_to product_like_path(product.id), method: :put, remote: true, class: user_signed_in? ? '' : :disabled  do%>
          <i class="material-icons">thumb_up</i><span><%= product.cached_votes_up%></span>
        <% end %>
        </label></p>
        </div>
        <div id="dislike">
        <p class="col s2"><label class="label-icon" for="thumb_down" id="dislikes_p<%= product.id %>">
        <%= link_to product_dislike_path(product.id), method: :put, remote: true, class: user_signed_in? ? '' : :disabled  do%>
          <i class="material-icons">thumb_down</i><span><%= product.cached_votes_down%></span>
        <% end %>
        </label></p>
        </div>
        </div>
      <div class="row">
        <% if user_signed_in? && !current_user.customer? %>
        <%= link_to "Edit", edit_admin_product_path(product) %>
        <% end %>
        <%= link_to "Details", product_path(product.id) %>
        <% if product.active? %>
          <% if product.stock.positive? %>
          <%= form_with url: '/carts', scope: 'post' do |f|%>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit 'Add to cart', class: "waves-effect waves-teal btn-flat"%>
          <% end %>
          <% end %>
        <% else %>
          <div style="width: 100%; height: 36px"></div>
        <% end %>
      </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Name: <%=product.name%><i class="material-icons right">close</i></span>
        <p>Price: <%= product.price%></p>
        <p>Stock: <%= product.stock%></p>
        <p>Description: <%= product.description%></p> 
      </div>
    </div>
  </div>
<% end %>
</div>
</div>