<div class="nav-wrapper">  
  <%= form_for :search, method: :get, remote: true do |f|%>
  <div class="row">
    <div class="col 8">     
      <div class="input-field">        
        <%= f.text_field :name, type: :search, id: :search_i, placeholder: 'Search' %>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons" onclick="document.getElementById('search_i').value = ''" >close</i>
      </div>
    </div>
    <div class="col 4">
      <% Tag.all.each do |tag| %>    
        <label >
          <%= f.check_box :tag_ids, {multiple: true}, tag.id, nil%>
          <span style="margin-right: 20px;"><%= tag.name %></span>
        <label>
      <% end %>
      <label >
          <%= f.check_box :popu %>
          <span style="margin-right: 20px;">Popularity</span>
        <label>
      <%= f.submit 'search', class: 'btn waves-effect waves-light' %>    
    </div>
  </div>
  <div class="row">    
  </div>
  <%end%>
</div>