<div id="search">
<%= render partial: 'search' %>
</div>

<div id="grid">
    <%= render partial: "grid" %>
</div>

<!--PAGINATION-->
<div class="row"> 
<%= paginate @products, :params => {search: {name: (params[:search][:name] rescue nil)  }} %>
</div>
