(function init() {
  document.querySelector('#grid').innerHTML = '<%= escape_javascript(render(partial: "grid")) %>';
  //document.querySelector('#search').innerHTML = '<%= escape_javascript(render(partial: "search")) %>';
})()