<div class="container">
  <div class="row">
  <div class="col s12">
    <h2 class="header"><%= @product.name%></h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://lorempixel.com/512/512/food/<%= rand(1..10)%>/">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <ul class="collection">
            <li class="collection-item">Sku: <%= @product.sku%></li>
            <li class="collection-item">Description: <%= @product.description%></li>
            <li class="collection-item">Price: $<%= @product.price%></li>
            <li class="collection-item">Stock: <%= @product.stock%></li>
            <li class="collection-item">Likes: <%= @product.cached_votes_up%></li>
            <li class="collection-item">Dislikes: <%= @product.cached_votes_down%></li>
            <li class="collection-item">Status: <%= @product.status%></li>
          </ul>
          <ul class="collection">
            <li class="collection-item">RATING: <%= @product.avarage_rating unless @product.avarage_rating.nan?%>
              <span><i class="material-icons" style="color: #26a69a;">grade</i></span>
            
            </li>
          </ul>
        </div>
        <div class="card-action">
          <a>
          <% if @product.active? %>
          <% if @product.stock.positive? %>
          <%= form_with url: '/carts', scope: 'post' do |f|%>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.submit 'Add to cart', class: "waves-effect waves-teal btn-flat"%>
          <% end %>
          <% end %>
        <% end %></a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">

  <div id="commentable"> 
    <div class="container">
      <h4>Comments</h4>
      <%= render "comments/comments" %>
      <%= render "comments/comment" if user_signed_in?%>
    </div>
  </div>

  </div>

</div>