(function init() {
  document.querySelector("#likes_p<%= @product.id %> span")
    .innerHTML = "<%= @product.get_likes.size %>";
  document.querySelector("#dislikes_p<%= @product.id %> span")
    .innerHTML = "<%= @product.get_dislikes.size %>";
})()
